__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/
bin/
lib/
include/
share/

dist/
build/
*.egg-info/

htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

.ipynb_checkpoints

.DS_Store
Thumbs.db